body {
  background: #e7e7e7;
}
.container {
  width: 455px;
  border-radius: 10px;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin: 36px auto;
  align-items: center;
  background: #fff;
  box-shadow: 5px -4px rgba(0, 0, 0, 0.1);
}
.container img {
  margin: 50px 15px;
  width: 72%;
  height: 324px;
}

.title-item {
  color: black;
}

#checkout {
  width: 400px;
  padding: 10px 15px 10px 15px;
  background: #0084ff;
  color: #fff;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
}
